.night-dark {
    background-color: #000;
    color: #eae7e7;
}

.night-light {
    background-color: #929292;
    color: #fff;
}

.day-dark {
    background-color: #6d6d6d;
    color: #ffffff;
}

.day-light {
    background-color: #f0f0f0;
    color: #000;
}
